* {
    margin: 0;
  }
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template:
      "icons sidebar menu" 1fr /
      50px 150px 1fr;
    gap: 5px;
  }
  .head {
    grid-area: header;
    background-color: yellowgreen;
    border: 1px dotted black;
  }
  .icons {
    grid-area: icons;
    background-color: lightcoral;
    border: 1px dotted black;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: lightblue;
    border: 1px dotted black;
  }
  .menu {
    grid-area: menu;
    background-color: lightpink;
    border: 1px dotted black;
  }
  body {
    margin: 5px;
  }